@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}


  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }


body {
  background-color: #ffffff;
  color: #111827; /* Tailwind gray-900 */
  font-family: Arial, Helvetica, sans-serif;
}
